{
	"arrowParens": "always",
	"endOfLine": "auto",
	"tabWidth": 2,
	"semi": true,
	"bracketSpacing": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 180,
	"htmlWhitespaceSensitivity": "css",
	"useTabs": true,
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": ["*.scss"],
			"options": {
				"singleQuote": true
			}
		}
	]
}
