<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner mb-1">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet align">
      <h2 class="text-center">{{title}}</h2>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone  mdc-layout-grid__cell--span-12-tablet align">
      <div class="mdc-touch-target-wrapper">
        <button class="mdc-button mdc-button--touch light-bg" (click)="acc1.closeAll();acc2.closeAll()">
          <div class="mdc-button__ripple"></div>
          <span>Close All</span>
        </button>
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner mb-1">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <ngxd-accordion #acc1="ngxdAccordion" [accordionList]="accordList1" [accordionStyling]="styling" openSign="/plus.png" closeSign="/minus.png"></ngxd-accordion>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <ngxd-accordion #acc2="ngxdAccordion" [accordionList]="accordList$ | async" [accordionStyling]="styling1" listLogo="/list_white_48dp.png"></ngxd-accordion>
    </div>
  </div>
</div>