.container {
  // display: flex;
  // flex-direction: row;
  
  .row {
    display: block;
    margin: 1rem 0;

    .col-12 {
      display: block;
      overflow: hidden;
    }
    .cornered {
      border-radius: 1.1rem;
    }
  }
}