<div class="container">
  <div class="container-fluid">
    <div class="row mb-100">
      <div class="col-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2 class="text-center">{{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 cornered">
        <ngxd-accordion [accordionList]="accordList1" [accordionStyling]="styling" openSign="/assets/plus.png" closeSign="/assets/minus.png"></ngxd-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <ngxd-accordion [accordionList]="accordList2" [accordionStyling]="styling1" listLogo="/assets/baseline_view_list_white_48dp.png"></ngxd-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mdc-touch-target-wrapper">
          <button class="mdc-button mdc-button--touch light-bg" >
            <div class="mdc-button__ripple"></div>
            <span>Next</span>
            <!-- <span class="mdc-button__label">My Accessible Button</span> -->
            <!-- <div class="mdc-button__touch"></div> -->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>