.container {
  // display: flex;
  // flex-direction: row;
  
  .row {
    display: block;

    .col-12 {
      display: block;
      overflow: hidden;
    }
    .cornered {
      border-radius: .8rem;
    }
  }
}