:root {
	--light-bg: #fafafa;
	--medium-bg: #f4f4f4;
	--dark-bg: #e2e1e1;
	--light-blue-color: #4d4dfa;
	--yellow-color: #dcdf36;
	--darker-color: #607386;
	--item-color: #adbdce;
	--accent-color: #42b883;
	--warn-color: #f85a40;
	--light-warn-color: #f07764;
	--dark-blue-color: #52529b;
	--mdc-typography-font-family: 'Lato', sans-serif;
	--mdc-theme-on-primary: var(--warn-color);
	--mdc-theme-secondary: var(--light-warn-color);
}

body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: var(--dark-bg);
	color: var(--darker-color);
	font-family: var(--mdc-typography-font-family);
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

$offset: 188;
$duration: 1.5s;

*:focus {
	outline: none;
}

.mdc-drawer-app-content {
	position: relative;
	flex: auto;
	overflow: auto;
}

.main-content {
	height: 100%;
	margin: 0.2rem;
	overflow: auto;
}

.app-bar {
	position: absolute;
	top: 0;
	transition: 1s ease-in;
	background: linear-gradient(var(--dark-blue-color), var(--darker-color));
	background-color: var(--light-warn-color);
}

.swiper-slide:not(.swiper-slide-visible.swiper-slide-active) {
	opacity: 0;
}

.mdc-top-app-bar {
	z-index: 7;
}

.mdc-top-app-bar__title {
	cursor: pointer;
}

.menu-grid--col4 {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 4fr 1fr 1fr;

	.mdc-image-menu__image {
		max-height: 4rem;
		margin: 0 1rem 0 -1rem;
	}
}

.mdc-drawer__header {
	box-sizing: border-box;
	background-color: var(--medium-bg);
}

.mdc-drawer__footer {
	box-sizing: border-box;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-evenly;
	min-height: 64px;
	padding: 0 16px 4px;
	background-color: var(--dark-bg);
}

.screen {
	box-sizing: border-box;
	padding: 1rem;
	overflow-y: auto !important;
}

.device-settings {
	max-width: 70vw;
	max-height: 70vh;
	text-align: center;
}

.light-bg {
	background: radial-gradient(var(--dark-bg), var(--light-bg));
}

.container-transparent {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #5050503a;
}

.spinner {
	margin-top: 20%;
	animation: rotator $duration linear infinite;
}

.path {
	transform-origin: center;
	animation: dash $duration ease-in-out infinite, colors ($duration * 2) ease-in-out infinite;
	stroke-dasharray: $offset;
	stroke-dashoffset: 0;
}

.mdc-drawer__content {
	display: flex;
	flex-direction: column;
	height: 100%;

	.flex-list {
		display: flex;
		flex: auto;
		flex-direction: column;
		justify-content: space-between;

		.flex-spacer {
			flex: auto;
			max-height: 10rem;
		}

		.gh-list {
			flex: 1 1 50%;
		}

		.nav-list {
			display: flex;
			flex: auto;
			flex-direction: column;
			justify-content: space-between;
		}

		.mdc-list-item {
			color: var(--warn-color);
			list-style: none;
			text-decoration: none;

			a {
				color: var(--warn-color);
				text-decoration: none;
			}
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 0.1rem;
	margin: 0;
	background-color: rgb(200 200 200 / 10%);
	font-size: xx-small;
	text-align: center;
}

.menu-icon {
	color: var(--warn-color) !important;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mt-1 {
	margin-top: 1rem;
}

.ml-1 {
	margin-left: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.h-a {
	height: auto;
}

@media screen and (max-width: 500px) {
	.ml-1 {
		margin-left: 0.1rem;
	}

	.mr-1 {
		margin-right: 0.1rem;
	}
}

@keyframes colors {
	0% {
		stroke: var(--dark-blue-color);
	}

	25% {
		stroke: var(--warn-color);
	}

	50% {
		stroke: var(--yellow-color);
	}

	75% {
		stroke: var(--accent-color);
	}

	100% {
		stroke: var(--light-blue-color);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: $offset;
	}

	50% {
		transform: rotate(135deg);
		stroke-dashoffset: $offset / 4;
	}

	100% {
		transform: rotate(450deg);
		stroke-dashoffset: $offset;
	}
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(270deg);
	}
}
