# A basic CI script to automate publishing @ngx-dummy/accordion-simple lib
name: ghp-deploy
on:
  release:
    types: [created, published]
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v2.0.1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ngx-dummy'
      - run: |
          echo Installing..!
          npm install -g @angular/cli > /dev/null
          npm ci
          npm run build:prod --if-present
      - run: npm run ci:publish:full --if-present
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGES_PUBLISH_TOKEN }}
